AbaxXBRLCore/coreroot/resources/System/registry.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Project: Xbrl Processing Engine
Version: 4

Copyright (c) 2011  EDGAR(r) Online, Inc.

EDGAR(r) is a federally registered trademark of the U.S. Securities and Exchange Commission. EDGAR 
Online is not affiliated with or approved by the U.S. Securities and Exchange Commission.
-->

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Item">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="categoryType">
		<xs:sequence>
			<xs:element ref="Item" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="classType">
		<xs:sequence>
			<xs:element name="property" type="propertyType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uri" type="xs:anyURI" use="required"/>
		<xs:attribute name="logicaluri" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="version" type="xs:decimal" use="required"/>
		<xs:attribute name="author" type="xs:string" use="required"/>
		<xs:attribute name="activate" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="componentType">
		<xs:sequence>
			<xs:element name="category" type="categoryType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="componentsType">
		<xs:sequence>
			<xs:element name="component" type="componentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pluginType">
		<xs:sequence>
			<xs:element name="class" type="classType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="uri" type="xs:anyURI" use="required"/>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:complexType name="pluginsType">
		<xs:sequence>
			<xs:element name="plugin" type="pluginType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="propertyType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="registry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="components" type="componentsType"/>
				<xs:element name="plugins" type="pluginsType"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>

<!--
The contents of this file are subject to the End-User Software License Agreement (the "License"). You may not use this 
file except in compliance with the License. A current copy of the License is available by contacting product support.

Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or 
implied. See the License for the specific language governing rights and limitations under the License.
-->